<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style
      include ./estilos.css
  body
    h1 Restablecer contraseña
    p Dale click al siguiente link para reestablecer
    a(href=`${resetUrl}` target="_blank") Reestablecer