<!DOCTYPE html>
html(lang="en")
  include includes/head
  body
    main
      h1 #{pagina}
      form(method="POST")
            input(type="password" placeholder="Nueva contraseña" name="password")
            button.boton(type="submit") Reestablecer contraseña